<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Evital </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- MAIN PANEL -->
  <ion-card padding>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon expand="block" name="car" size="large"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-label class="userName"> John Doe </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="scoreLabel">
          100 points
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="levelLabel">
          Level 5
        </ion-label>
      </ion-row>
      <ion-row style="text-align: right">
        <ion-label text-wrap [routerLink]="['/history']" class="historyLabel">
          History >
        </ion-label>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- TRIP -->
  <ion-card [routerLink]="['/trip']">
    <ion-card-header>
        <ion-card-title> Trip </ion-card-title>
    </ion-card-header>
    <ion-card-content class="tripText">
      Start a new car trip. Be conscious about your behavior and earn reward points.
    </ion-card-content>
  </ion-card>

  <!-- TIPS/REMINDERS -->
  <ion-card padding>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
            <ion-icon name="bulb" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label text-warp class="tipText">
              Did you know? Going from 70km/h to 80kh/m increases the risk of crashing in a 60%.
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- REWARD CENTER -->
  <ion-card [routerLink]="['/exchange']">
    <ion-card-header>
        <ion-card-title> Reward Center </ion-card-title>
    </ion-card-header>
    <ion-card-content class="rewardText">
      Have a look at the awesome rewards available in your local area and get inspired to earn points with us.
    </ion-card-content>
  </ion-card>

</ion-content>
