<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Exchange</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>

  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-thumbnail slot="start">
          <img class="img" [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="mainText" text-wrap> {{item.payload.doc.data().name}} </ion-label> <br>
              <ion-label> Partner: {{item.payload.doc.data().brand}} </ion-label> <br>
              <ion-label> Price: {{item.payload.doc.data().price}} points </ion-label> <br>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="items.length == 0" class="empty-list">
    No deals available at the moment...
  </div>

</ion-content>
